.top-bar{
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap:12px;
    padding: .9rem;
    margin: 0 auto;
    border-bottom: 1px solid #000;
}

.cart-icon{
  position: relative;
}
.badge-cart {
    background: red;
    color: white;
    position: absolute;
    display: inline-block;
    padding: 2px;
    font-size: 15px;
    font-weight: 600;
    text-align: center;
    white-space: nowrap;
    vertical-align: baseline;
    border-radius: 50%;
    width: 20px;
    height: 20px;
    top: 8px;
    right: 0px;
    transition: color .15s ease-in-out,background-color .15s ease-in-out,border-color .15s ease-in-out,box-shadow .15s ease-in-out
}

.pointer{
  cursor: pointer;
}
.search-bar{
  /*   display: inline-block;
    width: -webkit-fill-available; */
     flex-grow: 1;       /* take all available space */
    min-width: 0;       /* allow shrinking properly */
}